section.search_bar {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	div.input_container {
		display: flex;
		align-items: center;
		border-bottom: 2px solid black;
		padding-bottom: 0.5rem;
		gap: .75rem;
		input {
			width: 100%;
			&::placeholder {
				color: var(--placeholder);
			}
			background-color: transparent;
			border: none;
			font-size: 1rem;

			&:focus-visible {
				outline: none;
				caret-color: var(--marvel);
			}
		}
	}
	// span {
	// }
}
