:root {
	/* --text-max-width: 600px; */
	--details-content-width: 960px;
	--border-radius: 12px;
	--foreground-rgb: 0, 0, 0;
	--background-color: #ffffff;
	--black-background-color: #000000;
	--placeholder: #aaaaaa;
	--light-grey: #d9d9d9;
	--grey: #808080;
	--light-background-transparence: #ffffff30;
	--media-tablet: 834px;
	--subtitle: rgb(85, 85, 85);
	--marvel: #ec1d24;
	--clear-text: #ffffff;
	--dark-text: #000000;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	@supports not (selector(::-webkit-scrollbar)) {
		* {
			scrollbar-width: thin;
			scrollbar-color: var(--marvel) var(--light-grey);
		}
	}
}
::-webkit-scrollbar {
	background-color: var(--light-grey);
	width: 8px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--marvel);
}

::-webkit-scrollbar-thumb:hover {
	height: 6px;
	background-color: orangered;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	color: rgb(var(--foreground-rgb));
	background: var(--background-color);
	text-transform: uppercase;
}

input {
	text-transform: uppercase;
}
a {
	color: inherit;
	/* text-decoration: none; */
}

h1 {
	font-size: 40px;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
}
