div.character_card {
	display: flex;
	flex-direction: column;
	width: fit-content;

	img {
		border: none;
		outline: none;
		border-bottom: 6px solid var(--marvel);
	}

	p {
		background: black;
		text-align: center;
		color: white;
		padding: 1rem 0;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			border-bottom: 12px solid white;
			border-left: 12px solid black;
		}
	}
}
