li.comic_card {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0 0 1.5rem 0;

	footer {
		height: 100%;
		max-height: 63px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: space-between;
		justify-content: space-between;
		gap: 0.5rem;
		h4 {
			font-size: 1rem;
			text-transform: none;
		}
		p {
			font-size: 0.75rem;
		}
	}
}
