nav.navbar {
	background-color: black;
	display: flex;
	ul {
		align-items: center;
		text-align: center;
		width: 100%;
		display: flex;
		list-style: none;
		justify-content: space-between;
		padding: 1rem;
		@media screen and (min-width: 600px) {
			padding: 1rem 3rem;
			
		}
		li {
			&.heart_icon {
				div {
					display: flex;
					align-items: center;
					color: var(--clear-text);
					a, button {
						height: 2.5rem;
						padding: 0.5rem;
					}
				}
			}
		}
	}
}
