nav.navbar {
	background-color: black;
	display: flex;
	padding: 0.5rem 1rem;
	height: 7rem;
	ul {
		align-items: center;
		text-align: center;
		width: 100%;
		display: flex;
		list-style: none;
		justify-content: space-between;

		li {
			margin: 0 1rem;

			div {
				display: flex;
				align-items: center;
				gap: 1rem;
			}
		}
	}
}
