section.character_header {
	background: var(--black-background-color);
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	border-top: grey 1px solid;
	div.container {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		max-width: var(--max-width);
		div.info {
			div.title {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				h1 {
					text-transform: uppercase;
				}
			}
			p {
				max-width: var(--text-max-width);
				display: block;
			}
		}
	}
}
